@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
*{
	font-family: ¡®Noto Sans KR¡¯;
}
div.head{
	background-color: #FB5A03;
	padding:10px;
	color:white;
	text-align: center;
}

div.banner-top{
	background-color:#e0e0e0;
	padding:8px;
	margin:0;
}

div.banner-top img{
	position:relative;
}

div.banner-top ul{
	float:right;
	list-style:none;
	margin:0;
}
div.banner-top ul li{
	float:right;
	padding-right: 10px;
}

div.field{
	position:relative;
}

div.field>*{
	vertical-align: middle;
	display: inline-block;
	margin-top: 10;
	padding: 10px;
}

h5.label{
	background-image:url("./icon/bar.png") no-repeat;
	width:10%;
	margin-left:5%;
	align:center;
}

div.field>p,div.field>div{
	margin-left:10%;
	width:65%;
	position:relative;
}

div.investment>div{
	float:left
}

div.items{

	width:20%;
}
div.items *{
	display:table;
	margin: 0 auto;
}

div.right{
	width:80%;
}
div.right>*{
	margin-bottom: 30px
}


div.finance th, td{
	border-bottom: 0.5px solid grey;
	padding-right:30px;
	padding-top:6px;
	padding-bottom:6px;
	text-align:center;
}
div.finance table{
	border-collapse:collapse;
}
a#dart{
	float:right;
	color:grey;
}
#move_page{
	padding:10px;
	padding-left:30px;
	padding-right:30px;
	float:right;
	background-color: #ff9d60;
	
}
#move_page option{
	background-color: #ffffff
}
